@use "../../tokens" as *;

.search-engine {
  width: 296px;
  min-height: 397px;
  padding: 0 $spc-8 $spc-8;
  border-radius: $radius-lg;
  overflow: visible;

  background-color: rgba($gray-100, 0.35);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  box-shadow: 0 8px 24px rgba($gray-500, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spc-16;
}

.search-engine__title {
  width: 262px;
  min-height: 51px;
  padding: $spc-10;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-bg-brand;
  color: $color-action-accent;

  font-family: "Fantasm-and-Secrets";
  font-size: 36px;
  line-height: 110%;
  font-weight: 400;
  text-align: center;

  border-radius: 0 0 $radius-md $radius-md;

  box-shadow:
    0 4px 2px rgba($gray-500, 0.5),
    0 6px 12px rgba($gray-500, 0.25);
}

.search-engine__inputs {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spc-16;
}

.search-engine__cta {
  display: flex;
  justify-content: center;
}

.search-engine__footer {
  width: 280px;
  min-height: 44px;

  margin: 0;
  padding: 0 $spc-8;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $font-family-heading;
  font-size: $font-size-16;
  line-height: 130%;
  font-weight: $font-weight-bold;
  text-align: center;

  color: $color-text-strong;
}