@use './reset';
@use './variables';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Georgia, 'Times New Roman', serif;
}

#root {
  min-height: 100vh;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}