@use './tokens' as *;
@use './reset';
@use './components/CTA';
@use './components/Header/MenuButton';
@use './components/Header/SocialBar';
@use './components/Header/UserBar';
@use './components/Header/LinkDrawer';
@use './components/Header/NavBarMobile';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Fantasm-and-Secrets';
  src: url('../assets/fonts/Fantasm-and-Secrets.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: $navy-200;
  color: $color-text-primary;
  font-family: $font-family-body;
  font-size: 16px;
  line-height: 26px;
}

#root {
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
}
h1 {
  font-family: 'Fantasm and Secrets';
}
h2{
  font-family: $font-family-heading;
}
h3{
  font-family: $font-family-body;
}
