@use '../../tokens' as *;

.mobile-navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mobile-navbar__bar {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 375px; // 👈 aquí sí es válido

  min-height: 50px;
  padding: $spc-10 $spc-16;

  background: $color-bg-brand;
  border-radius: 0 0 $radius-lg $radius-lg;
}

.mobile-navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-navbar__line {
  width: 100%;
  height: 1px;
  margin-top: $spc-6;
  background: $color-state-error;
}

.mobile-navbar__drawer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  z-index: 10;
}